/*Custom css for Github client application*/

.github__form{
  margin-bottom: 20px;
}
.repo__link{
  text-transform: capitalize;
}
.panel__error{
  text-align: center;
  font-size: 20px;
  margin-top: 39px;
}
.repo__error{
  padding: 20px 0;
  font-weight: bold;
  font-size: 14px;
}
.profile__img{
  width: 100%;
}
