
<div class="github-form">
  <form ng-submit="home.getUserData(home.username)">
    <label>Search Github Users:</label>
    <input type="text" ng-model="home.username" class="form-control" placeholder="Enter an username and press enter key" />
  </form>
</div>

<div ng-if="home.error" class="panel-error">
  {{ home.message }}
</div>

<div ng-if="!home.error"class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ home.user.name }}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<img class="profile__img" ng-src="{{ home.user.avatar_url }}" alt="{{home.user.name}}" class="thumbnail"/>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
						<span class="label label-primary">{{ home.user.public_repos }} Repos</span>
						<span class="label label-success">{{ home.user.public_gists }} Public Gists</span>
						<span class="label label-info">{{ home.user.followers }} Followers</span>
						<span class="label label-danger">{{ home.user.following }} Following</span>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-md-12">
						<ul class="list-group">
							<li ng-show="home.user.name" class="list-group-item"><strong>Name: </strong> {{ home.user.name }}</li>
              <li ng-show="home.user.bio" class="list-group-item"><strong>Bio: </strong> {{ home.user.bio }}</li>
							<li ng-show="home.user.location" class="list-group-item"><strong>Location: </strong> {{ home.user.location }}</li>
							<li ng-show="home.user.email" class="list-group-item"><strong>Email: </strong> <a href="mailto:{{ home.user.email }}?Subject=Hello {{ home.user.name }}" target="_top">{{ home.user.email }}</a></li>
              <li ng-show="home.user.blog" class="list-group-item"><strong>Blog: </strong> <a target="_blank" href="{{home.user.blog}}">{{ home.user.blog }}</a></li>
              <li ng-show="home.user.company" class="list-group-item"><strong>Company: </strong> {{ home.user.company }}</li>
						</ul>
					</div>
				</div>
				<br />
				<a class="btn btn-primary" target="_blank" href="{{ home.user.html_url }}">Visit profile</a>
			</div>
		</div>


		<h3>User Repositories</h3>
    <div>
  		<ul ng-if="!home.emptyrepo" class="list-group" ng-if="home.repo.length !== 0">
        <li class="list-group-item" ng-repeat="repo in home.repo">
          <a class="repo__link" target="_blank" href="{{ repo.html_url }}">{{ repo.name }}</a><span ng-if="repo.description"> - {{ repo.description }}</span>
        </li>
  		</ul>
      <div class="repo__error" ng-if="home.emptyrepo">
        No Repo Found
      </div>
	 </div>
</div>
</div>
