
<div class="github-form">
  <form>
    <label>Search Github Users:</label>
    <input type="text" class="form-control" />
  </form>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ home.user.name }}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<img src="//avatars3.githubusercontent.com/u/1450975?v=3&s=460" class="thumbnail" style="width: 100%" />
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
						<span class="label label-primary">1 Repos</span>
						<span class="label label-success">2 Public Gists</span>
						<span class="label label-info">100 Followers</span>
						<span class="label label-danger">200 Following</span>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-md-12">
						<ul class="list-group">
							<li class="list-group-item"><strong>Username: </strong> {this.props.userData.login}</li>
							<li class="list-group-item"><strong>Location: </strong> {this.props.userData.location}</li>
							<li class="list-group-item"><strong>Email: </strong> {this.props.userData.email}</li>
						</ul>
					</div>
				</div>
				<br />
				<a class="btn btn-primary" target="_blank" href={this.props.userData.html_url}>Visit profile</a>
			</div>
		</div>

		<br />

		<h3>User Repositories</h3>

    <div>
		<ul class="list-group">
      <li class="list-group-item">
        <a href="#">Test repo</a> - Description
      </li>
      <li class="list-group-item">
        <a href="#">Test repo</a> - Description
      </li>
      <li class="list-group-item">
        <a href="#">Test repo</a> - Description
      </li>
      <li class="list-group-item">
        <a href="#">Test repo</a> - Description
      </li>
      <li class="list-group-item">
        <a href="#">Test repo</a> - Description
      </li>
      <li class="list-group-item">
        <a href="#">Test repo</a> - Description
      </li>
		</ul>
	</div>
</div>
</div>
